@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap');

body {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: space-between;
    font-family: Roboto, sans-serif;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

.header, .hero {
    display: flex;
    padding: 24px 200px;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
}

.header .logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.header ul {
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

.hero {
    padding: 100px 200px;
    gap: 64px;
}

.hero-title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: extra-bold;
}

.hero-subtext {
    color: #e5e7eb;
    font-size: 18px;
}

button {
    padding: 8px 32px;
    background-color: #3882f6;
    color: #e5e7eb;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.info {
    display: flex;
    padding: 50px 280px 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.info-title {
    color: #1f2937;
    font-size: 36px;
    font-weight: extra-bold;
}

.info-images {
    display: flex;
    gap: 32px;
}

.info-image {
    text-align: center;
}

.info-image img {
    width: 100%;
    border: 5px solid #3882f6;
    border-radius: 16px;
}

.info-image p {
    margin: 3px 0;
    color: #666666;
}

.quote {
    padding: 120px 280px;
    background-color: #e5e7eb;
}

.quote p {
    margin: 0;
}

.quote-text {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: light;
}

.quote-author {
    font-size: 22px;
    font-weight: bold;
    text-align: right;
}

.action-call {
    padding: 100px 200px;
}

.action-call-box {
    display: flex;
    padding: 48px 96px;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    color: #e5e7eb;
    font-size: 18px;
    border-radius: 8px;
}

.action-call-box h3 {
    color: #f9faf8;
    font-size: 24px;
}

.action-call-box p {
    margin: 0;
}

.action-call-button {
    border: 3px solid #e5e7eb;
}

.footer {
    display: flex;
    padding: 32px;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
}